<div class="container footer">
	<footer class="d-flex justify-content-around py-4">
		<div class="col col-3 text-center">
			<p>Nos horaires d'ouvertures:</p>
			<ul>
				<li>Lundi: 08h00-18h00</li>
				<li>Mardi: 08h00-18h00</li>
				<li>Mercredi: 08h00-18h00</li>
				<li>Jeudi: 08h00-18h00</li>
				<li>Vendredi: 08h00-18h00</li>
				<li>Samedi: 08h00-18h00</li>
				<li>Dimande: Fermé</li>
			</ul>
		</div>
		<div class="col col-3 text-center">
			<p>Garage.V.Parrot</p>
      Adresse : 123 Rue Imaginaire</br>
      99999 Nullepart, France</br>
      Téléphone : 01 23 45 67 89
    </div>
    <div class="col col-3 text-center">
    <p>Nous <a href="#">contacter</a></p>
    <p>Nos <a href="#">CGU</a></p>
    <p>Se <a href="#">connecter</a></p>
    
    </div>
  </footer>
</div>
