{% extends 'base.html.twig' %}

{% block title %}Garage V Parrot{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/CSS/accueilStyle.css') }}">
{% endblock %}

{% block body %}
<div class="banniere text-center d-flex align-items-center justify-content-center">
    <div>
        <h1>Garage V Parrot</h1>
	    <p>Mécanique de précision , service de passion</p>
    </div>	
</div>

{% endblock %}
