{% extends "@EasyAdmin/page/content.html.twig" %}

{% block content %}

<div class="container">
    <div class="row">
        <h1 class="text-center"> Administration Garage V Parrot</h1>

        <p class="col-12 text-center ">Il y a <strong>{{ testimonies|length }}</strong> témoignages en attente</p>
    </div>

</div>



   
{% endblock %}
