<!DOCTYPE html>

<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Le Garage V Parrot, votre destination de confiance pour les réparations automobiles de qualité et l'achat de voitures d'occasion fiables. Découvrez nos services professionnels et notre sélection de véhicules à des prix compétitifs.">
		<meta name="keywords" content="Garage automobile, réparations, voitures d'occasion, mécanique, entretien, vente de voitures, service de qualité, professionnels de l'automobile">
		<meta name="author" content="Arnaud Simoncelli">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="robots" content="index, follow">


		<title>
			{% block title %}Garage V.Parrot
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{% block stylesheets %}
			<link rel="stylesheet" href="{{asset('assets/CSS/bootstrap.min.css')}}">
			<link rel="stylesheet" href="{{asset('assets/CSS/mainStyle.css')}}">
		{% endblock %}
	</head>
	<body>
		<div class="container-fluid d-flex flex-column min-vh-100">
			<div class="row">
				{% include "_includes/_navbar.html.twig" %}
			</div>
			<div class="row">
				 {% block body %}{% endblock %}
			</div>
			<div class="row mt-auto">
				{% include "_includes/_footer.html.twig" %}
			</div>
		</div>

		{% block javascripts %}
			<script src="{{asset('assets/JS/bootstrap.bundle.min.js')}}"></script>
			<script src="{{asset('assets/JS/mainScript.js')}}"></script>
		{% endblock %}
	</body>
</html>
