{% extends 'base.html.twig' %}

{% block title %}Condition Général D'utilisation
{% endblock %}

{% block body %}
	<div class="text-center col col-8 mx-auto">
		<h1 class="mt-3">Conditions Générales d'Utilisation (CGU) - Garage V Parrot</h1>

		<h2 class="mt-3">1. Introduction</h2>
		<p>Bienvenue sur le site web du Garage V Parrot. En utilisant ce site, vous acceptez les présentes Conditions Générales d'Utilisation. Veuillez les lire attentivement avant de poursuivre votre navigation.</p>

		<h2 class="mt-3">2. Utilisation du Site</h2>
		<p>2.1. Le site web du Garage V Parrot est destiné à fournir des informations sur nos services de réparation automobile.</p>
		<p>2.2. Vous acceptez de ne pas utiliser ce site à des fins illégales ou interdites par la loi.</p>

		<h2 class="mt-3">3. Contenu du Site</h2>
		<p>3.1. Le contenu de ce site est fourni à titre informatif uniquement. Le Garage V Parrot ne garantit pas l'exactitude, l'exhaustivité ou la pertinence des informations fournies.</p>
		<p>3.2. Tous les droits d'auteur et autres droits de propriété intellectuelle relatifs au contenu du site appartiennent au Garage V Parrot. Vous ne pouvez pas copier, reproduire ou distribuer le contenu sans autorisation préalable.</p>

		<h2 class="mt-3">4. Confidentialité</h2>
		<p>4.1. Le Garage V Parrot s'engage à protéger vos informations personnelles conformément à sa politique de confidentialité.</p>
		<p>4.2. Vous acceptez que le Garage V Parrot puisse collecter et utiliser vos informations personnelles conformément à sa politique de confidentialité.</p>

		<h2 class="mt-3">5. Modifications des CGU</h2>
		<p>5.1. Le Garage V Parrot se réserve le droit de modifier ces CGU à tout moment. Les modifications seront effectives dès leur publication sur le site.</p>

		<h2 class="mt-3">6. Contact</h2>
		<p>Si vous avez des questions ou des préoccupations concernant ces CGU, veuillez nous contacter à l'adresse suivante :</p>
		<address>
			Garage V Parrot<br>
			Adresse : 123 Rue Imaginaire, 99999 Nullepart, France<br>
			Téléphone : 01 23 45 67 89<br>
		</address>


	</div>
{% endblock %}
